# Unreal Engine generated / transient
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE / tooling
.vscode/
*.sln
*.opensdf
*.suo
*.tmp


# VS Code: ignore by default, allow specific JSON
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
